#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  position: fixed;
  top: 3vh;
  left: 1vw;
  width: 100%;
}

.interactive-banner {
  position: fixed;
  top: 25vh;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  width: 90vw;
  padding: 0 20px;
}

.resetAlarmButton {
  color: maroon;
  background-color: bisque;
  transition: opacity 1s ease-in-out;
  margin-left: 2vw;
}

.fade {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade.visible {
  opacity: 1;
}

.fade.hidden {
  transition: none;
  opacity: 0;
}

.alarmTriggered {
  background-color: orange;
  color: black;
  height: 12vh;
  width: 50vw;
  margin-left: 8vw;
}

.alarmNotTriggered {
  background-color: darkgreen;
  height: 12vh;
  width: 50vw;
  margin-left: 8vw;
}

.timer {
  margin-left: 3vw;
}

.table-container {
  width: 100%;
  margin-top: 20vh;
  font-size: 1.5rem;
}

.alert-table th,
.alert-table td {
  padding: 10px;
  text-align: left;
}

.faded {
  opacity: 0.5;
  transition: opacity 1s ease-in-out;
}

.visible {
  opacity: 1;
}

.arrow {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #00bcd4;
  margin-left: 20px;
}

.arrow svg {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}


.indent-1 {
  padding-left: 20px; /* Ahmad indented */
}

.indent-2 {
  padding-left: 40px; /* Zain double indented */
}
